.newsletter-container {
    background-color: #000;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin: 2% 10%;
}

.newsletter-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.newsletter-image {
    border-radius: 15px;
    margin-right: 20px;
    width: 50%;
}

.newsletter-text {
    color: #fff;
    flex-grow: 1;
}

.newsletter-text h2 {
    margin: 0;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.newsletter-text p {
    margin: 0 0 20px;
    font-size: 1em;
    line-height: 1.6;
}

.newsletter-form {
    display: flex;
}

.newsletter-form input {
    border: none;
    padding: 10px;
    border-radius: 20px 0 0 20px;
    width: 250px;
    font-size: 1em;
}

.newsletter-form button {
    border: none;
    padding: 10px 20px;
    border-radius: 0 20px 20px 0;
    background-color: #ff8a00;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.newsletter-form button:hover {
    background-color: #ff9c33;
}

@media screen and (max-width: 600px) {
    .newsletter-container {
        margin: 2% 5%;
    }

    .newsletter-content {
        flex-direction: column;
        width: fit-content;
    }

    .newsletter-image {
        width: 100%;
        margin-right: 0;
    }

    .newsletter-text {
        text-align: center;
    }

    .newsletter-form {
        justify-content: center;
    }

    .newsletter-form input {
        width: 100%;
    }

    .newsletter-form button {
        border-radius: 10px;
        padding: 10px;
        font-size: smaller;
    }

    .newsletter-form button:hover {
        background-color: #ff9c33;
    }

    .newsletter-text h2 {
        font-size: 1.2em;
    }

    .newsletter-text p {
        font-size: 0.8em;
    }



}