.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 5% 10%;
}

.card3 {
    height: 250px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.card3 p {
    font-size: x-small;
}

@media screen and (max-width: 600px) {
    .services {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 5%;
    }

    .card3 {
        width: 250px;
        gap: 0;
    }


}